In [20]:
import pandas as pd
import numpy as np
import requests
import json

In [7]:
dataset_path = 'output/1000_population_dataset.csv'
download_path = 'output/1000_downloaded_population_dataset.csv'
cleaned_dataset_path = 'output/1200_cleaned_population_dataset.csv'

In [133]:
dataset = pd.read_csv(download_path)
dataset.head()

,County,Religion,CensusYear,Statistic Label,UNIT,VALUE
0,State,Roman Catholic,1891,Population,Number,3099003.0
1,State,Roman Catholic,1891,Actual change since previous census,Number,0.0
2,State,Roman Catholic,1891,Percentage change since previous census,%,0.0
3,State,Roman Catholic,1901,Population,Number,2878271.0
4,State,Roman Catholic,1901,Actual change since previous census,Number,-220732.0

In [134]:
dataset = dataset[dataset['CensusYear']==2016]
dataset = dataset[dataset['Statistic Label']=='Population']
dataset.head()

,County,Religion,CensusYear,Statistic Label,UNIT,VALUE
39,State,Roman Catholic,2016,Population,Number,3729115.0
81,State,Church of Ireland (incl. Protestant),2016,Population,Number,131823.0
123,State,Presbyterian,2016,Population,Number,24211.0
165,State,"Methodist, Wesleyan",2016,Population,Number,6471.0
207,State,Jewish,2016,Population,Number,2557.0

In [90]:
dataset[dataset['UNIT']!='Number'] #Make sure that all population data is in the same unit

Empty DataFrame
Columns: [County, Religion, CensusYear, Statistic Label, UNIT, VALUE]
Index: []

In [135]:
dataset = dataset.drop(columns=['UNIT','CensusYear','Statistic Label'],axis=1).rename(columns={'VALUE':'Population'})

# Split dataset 
We are going to split this dataset into one with populatio by county and one by religion aswell

In [117]:
dataset_by_religion = dataset[dataset['County'] =='State']
dataset_by_religion = dataset_by_religion.reset_index().drop(columns=['index','County'],axis=1)
dataset_by_religion

                               Religion  Population
0                        Roman Catholic   3729115.0
1  Church of Ireland (incl. Protestant)    131823.0
2                          Presbyterian     24211.0
3                   Methodist, Wesleyan      6471.0
4                                Jewish      2557.0
5           Other stated religion (nec)    273993.0
6                           No religion    468421.0
7                            Not stated    125274.0
8                         All religions   4761865.0

In [142]:
dataset_by_county = dataset[dataset['County']!='State']
dataset_by_county = dataset_by_county[dataset_by_county['Religion'] == 'All religions']
dataset_by_county = dataset_by_county.reset_index().drop(columns=['index','Religion'],axis=1)
dataset_by_county.head()

     County  Population
0    Carlow     56932.0
1    Dublin   1347359.0
2   Kildare    222504.0
3  Kilkenny     99232.0
4     Laois     84697.0

In [143]:
dataset_by_county.to_csv(cleaned_dataset_path,index=False)
print("Saved to: "+ cleaned_dataset_path)

Saved to: output/1200_cleaned_population_dataset.csv